.main{
  padding: 60px 11%;
}

.contactsRow {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.blockName{
  font-size: 32px;

  border-bottom: 3px #202846 solid;
}

.blockSubInformation{
  margin-top: 10px;

  font-size: 30px;
}

.map{
  width: 577px;
  height: 355px;
  border-radius: 40px;
}
